
/* SIL Open Font License, 1.1 */

/* abel-v10-latin-regular */
@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/abel-v10-latin/abel-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Abel Regular'), local('Abel-Regular'),
       url('../fonts/abel-v10-latin/abel-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/abel-v10-latin/abel-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/abel-v10-latin/abel-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/abel-v10-latin/abel-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/abel-v10-latin/abel-v10-latin-regular.svg#Abel') format('svg'); /* Legacy iOS */
}
/* audiowide-v8-latin */
@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/audiowide-v8-latin/audiowide-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Audiowide Regular'), local('Audiowide-Regular'),
       url('../fonts/audiowide-v8-latin/audiowide-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/audiowide-v8-latin/audiowide-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/audiowide-v8-latin/audiowide-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/audiowide-v8-latin/audiowide-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/audiowide-v8-latin/audiowide-v8-latin-regular.svg#Audiowide') format('svg'); /* Legacy iOS */
}